{% extends "base-noFrame.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<section class="login edit">
    <div class="container">
        <div class="mainTitle">Login</div>
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">ログイン</button>
            </form>
        </div>
        <div class="signup">
            <a href="{% url 'signup' %}">新規登録</a>
        </div>
    </div>
</section>
{% endblock %}
