{% extends "base.html" %}

{% block title %}顧客情報編集{% endblock %}

{% block content %}
<div class="edit">
    <h1>{% if customer %}顧客情報を編集{% else %}新しい顧客を追加{% endif %}</h1>
    <form class="form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form__wrap">
            <div class="box">
                <label for="id_company_prefix">会社種別</label>
                {{ form.company_prefix }}
            </div>
            <div class="box">
                <label for="id_company_suffix">会社名</label>
                {{ form.company_suffix }}
            </div>

            <div class="box">
                <label for="id_first_name">姓</label>
                {{ form.first_name }}
            </div>

            <div class="box">
                <label for="id_last_name">名</label>
                {{ form.last_name }}
            </div>

            <div class="box">
                <label for="id_email">メールアドレス</label>
                {{ form.email }}
            </div>

            <div class="box">
                <label for="id_phone_number">電話番号</label>
                {{ form.phone_number }}
            </div>

            <!-- 郵便番号フィールド（AjaxZip3用） -->
            <div class="box">
                <label for="zip">郵便番号</label>
                <input type="text" id="zip" name="zip" placeholder="1000001" onkeyup="AjaxZip3.zip2addr(this, '', 'address', 'address');">
            </div>

            <div class="box">
                <label for="id_address">住所</label>
                {{ form.address }}
            </div>
        </div>

        <button type="submit">保存</button>
    </form>

    <a href="{% url 'customer_list' %}">戻る</a>
</div>
{% endblock %}
