{% extends "base-noFrame.html" %}

{% block title %}404 Bad Request{% endblock %}

{% block content %}
<section class="errors">
    <div class="container">
        <h1>500</h1>
        <h2>サーバーエラーが発生しました</h2>
        <p>申し訳ありません。サーバー内部で問題が発生しました。しばらくしてから再度お試しください。</p>
        <div class="redirect">
            <span id="countdown">5</span> 秒後に
            <a href="{% url 'login' %}">マイページ</a> へ戻ります。
        </div>
    </div>
</section>

<!-- <script src="{% static 'js/redirect.js' %}"></script> -->
{% endblock %}
