{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Project{% endblock %}</title>
    {% include 'common/parts/head.html' %}

</head>

<body class="drawer drawer--right">

        <header class="header container-fluid">
            <div class="header__wrap">
                <div class="logo">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'image/logo-bk.png' %}" alt="">
                    </a>
                </div>
                <!-- <div class="text">
                    dashboard
                </div> -->
                <div class="logout">
                    <a href=""><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
        </header>

        <nav id="navigation" class="nav d-sp-block d-none">
            <!-- sp -->
            <div class="nav__wrap">
                <button type="button" class="drawer-toggle drawer-hamburger">
                    <span class="sr-only">toggle navigation</span>
                    <span class="drawer-hamburger-icon"></span>
                </button>
                <div class="drawer-nav drawer-close" role="navigation">
                    <ul class="drawer-menu">
                        <div class="logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'image/logo-bk.png' %}">
                            </a>
                        </div>
                        {% include 'common/parts/nav-menu.html' %}
                    </ul>
                </div>
            </div>
        </nav>

    <div class="contents-wrapper">

        <aside>
            <ul class="menu">
                {% include 'common/parts/nav-menu.html' %}
            </ul>
            <div class="profile">
                <div class="hello">こんにちは</div>
                <div class="name">{{ profile_info.名 }} <span>さん</span></div>
                <div class="wrap">
                    <div class="sect">{{ profile_info.部署 }}</div>
                    <div class="numb">{{ employee.employee_number }}</div>
                </div>
            </div>

        </aside>

        <main>
            {% block content %}
            {% endblock %}
            
        </main>

        <footer class="footer">
            <div class="cr"><a href="{% url 'index' %}">&copy; 2025 SKW</a></div>
        </footer>

    </div><!-- contents-wrapper -->

    {% include 'common/parts/foot.html' %}
    {% django_browser_reload_script %}
</body>
</html>
