{% extends "base-noFrame.html" %}
{% load static %}

{% block title %}{{ error_code }} - {{ error_title }}{% endblock %}

{% block content %}
<section class="errors">
    <div class="container">
        <h1>{{ error_code }}</h1>
        <h2>{{ error_title }}</h2>
        <p>{{ error_message }}</p>
        <div class="redirect">
            <span id="countdown">5</span> 秒後に
            <a href="{% url 'login' %}">マイページ</a> へ戻ります。
        </div>
    </div>
</section>
<script>
let count = 5;  // 初期値（秒数）
    const countdownElement = document.getElementById("countdown");

    function updateCountdown() {
        count--;
        countdownElement.textContent = count;
        if (count <= 0) {
            window.location.href = "{% url 'login' %}";  // 5秒後にリダイレクト
        } else {
            setTimeout(updateCountdown, 1000);  // 1秒ごとに更新
        }
    }

    setTimeout(updateCountdown, 1000);  // 1秒後にカウントダウン開始
</script>
{% endblock %}