@use "../global/global";

.customer{
    .search{
        margin-top: 40px;
        button{
            margin-top: 40px;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(5, minmax(50px, auto)) 1fr fit-content(100px);
        gap: 16px;
        width: 100%;
        .area{
            display: contents;
            &.head{
                .cell{
                    font-weight: bold;
                }
            }
        }
    }
}