.docspdf{
    &__grid{
        margin-top: 40px;
        button.add{
            background-color: unset;
            border-radius: unset;
            color: $mc;
            border: 1px black solid;
            margin-bottom: 40px;
            i{
                margin-right: 8px;
            }
        }
        .area {
            display: grid;
            grid-template-columns: repeat(3,1fr) 50px;
            gap: 40px;
            align-items: center;
            @include sp{
                grid-template-columns: 50% repeat(2, 1fr) 50px;
                gap: 8px;
            }
            .image{
                .adminUser{
                    text-align: center;
                    margin-top: 4px;
                    @include fs(10);
                }
            }
        }
        .head{
            font-weight: bold;
            @include fs(10);
            margin-bottom: -16px;
            @include sp{
                display: none;
            }
        }
        .value{
            margin-top: 16px;
            .button{
                @include flex();
                justify-content: flex-start;
                gap: 16px;
                >button{
                    background-color: unset;
                    border-radius: unset;
                    width: auto;
                    padding: unset;
                    color: black;
                    @include fs(12);
                }
                i{
                    margin-right: 4px;
                }
            }
        }
    }//grid
    .submit{
        margin-top: 40px;
    }

    &__confirm{
        .subTitle{
            text-align: center;
            margin-top: 16px;
        }
        .button{
            margin: 40px auto;
        }
    }

}

.preview{
    width: 210mm;
    // transform: scale(0.5);
    margin: auto;
    background-color: white;
    transform-origin: top center;
    aspect-ratio: 1 / 1.414;
}

@import "docspdf_print"