@use "../global/global";


.edit{
    .form{
        &__wrap{
            margin-top: 40px;
            display: grid;
            grid-template-columns: max-content 1fr;
            gap: 40px 16px;
            align-items: center;
            margin-bottom: 80px;
            @include sp{
                grid-template-columns: 1fr;
                gap: 8px;
            }
            .box{
                display: contents;
                label{
                    text-align: right;
                    @include fs(12);
                    font-weight: bold;
                    @include sp{
                        text-align: left;
                    }
                }
            }
        }
    }
    button{
        padding: 8px;
    }
    a{
        margin-top: 16px;
        @include flex();
    }
}