.errors{
    width: 100%;
    height: 100vh;
    @include flex();
    margin: unset;
    .container{
        display: flex;
        flex-direction: column;
        height: 50vh;
        position: relative;
        justify-content: center;
        h1{
            position: absolute;
            @include fs(300);
            color: $mc;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            opacity: 0.1;
        }
        h2{
            @include fs(20);
            font-weight: bold;
            text-align: center;
        }
        p{
            text-align: center;
        }
        .redirect{
            text-align: center;
            margin-top: 40px;
        }
    }

}