.list{
    &__grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
        width: 100%;
        .area{
            display: contents;
            &.head{
                .cell{
                    font-weight: bold;
                }
            }
            &.value{
                .dl{
                    background-color: lighten($color: $mc, $amount: 80%);
                    padding: 4px 8px;
                    border-radius: 5px;
                    i{
                        margin-right: 4px;
                    }
                }
            }
        }
    }
    .create{
        a{
            padding: 8px;
            width: 100%;
            text-align: center;
            background-color: white;
            display: block;
            margin: 40px auto;
        }
    }
}