
{% extends "base.html" %}

{% block title %}マイページ{% endblock %}

{% block content %}
<div class="mypage">

    <div class="mainTitle">Mypage</div>

    <section class="attendance">
        <div class="attendance__wrap grid">
            <form id="clock_in_form" action="{% url 'clock_in' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" id="clock_in_btn">出勤</button>
            </form>
            <form id="clock_out_form" action="{% url 'clock_out' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" id="clock_out_btn">退勤</button>
            </form>
        </div>
        <div class="today">
            {% if record %}
            <div class="today__wrap grid">
                <div class="box">
                    <div class="head">
                        <i class="far fa-clock"></i>出勤時刻
                    </div>
                    <div class="text">
                        {{ record.clock_in|date:"Y-m-d H:i:s" }}
                    </div>
                </div>
                <div class="box">
                    <div class="head">
                        <i class="far fa-clock"></i>退勤時刻
                    </div>
                    <div class="text">
                        {{ record.clock_out|date:"Y-m-d H:i:s" }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="noRecord">
                <div class="text">今日の勤怠記録はありません。</div>
            </div>
            {% endif %}
        </div>


        <div class="status grid">
            <div class="off">
                <form action="{% url 'set_attendance_status' %}" method="post">
                    {% csrf_token %}

                    <h2><label for="attendance_status">勤怠ステータス</label></h2>
                    <div class="area">
                        <select name="attendance_status">
                            <option value="normal" {% if attendance_status == "normal" %}selected{% endif %}>通常勤務</option>
                            <option value="morning_off" {% if attendance_status == "morning_off" %}selected{% endif %}>午前休</option>
                            <option value="afternoon_off" {% if attendance_status == "afternoon_off" %}selected{% endif %}>午後休</option>
                        </select>
                        <button type="submit">変更</button>
                    </div>

                </form>
            </div>
            <div class="direct">
                <form action="{% url 'set_direct_start' %}" method="POST">
                    <h2><label for="direct_start_date">直行予約</label></h2>
                        {% csrf_token %}
                        <div class="area">
                            <input type="text" class="datepicker" id="direct_start_date" name="date" placeholder="日付を選択">
                            <button type="submit">予約する</button>
                        </div>
                </form>
                {% if direct_start_today %}
                    <p class="direct">今日の出勤は直行です。</p>
                {% endif %}
                
                <div class="list">
                    <h2>直行予約一覧</h2>
                        <ul id="directStartList" class="direct">
                            {% if direct_starts %}
                            {% for direct in direct_starts %}
                                <li id="direct-{{ direct.id }}">
                                    <div class="wrap">
                                        <div class="text">
                                            {{ direct.date|date:"Y年m月d日" }}
                                        </div>
                                        <form action="{% url 'delete_direct_start' direct.id %}" method="post" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit"><i class="fas fa-times"></i></button>
                                        </form>
                                    </div>
                                </li>
                            {% endfor %}
                            {% else %}
                            <li>
                                <div class="else">
                                    <div class="text">
                                        直行予約はありません。
                                    </div>
                                </div>
                            </li>
                            {% endif %}
                        </ul>

                </div>
            </div><!-- //direct -->
        </div><!-- //status -->
    </div>







    </section>

    <section class="notification">
        <div class="boxArea">
        {% include 'notifications/mypage_notifications.html' %}
        </div>
    </section>
</div>

{% endblock %}