<li><a href="{% url 'index' %}"><i class="fas fa-home"></i>ホーム</a></li>
<li><a href="{% url 'inventory:inventory_list' %}"><i class="fas fa-boxes"></i>在庫管理</a></li>
<li><a href="{% url 'customer_list' %}"><i class="fas fa-id-card"></i>顧客リスト</a></li>
<li><a href="{% url 'create_quotation' %}"><i class="fas fa-tasks"></i>見積書作成</a></li>
<li><a href="{% url 'create_invoice' %}"><i class="fas fa-file-invoice"></i>請求書作成</a></li>
<li><a href="{% url 'attendance_dashboard' %}"><i class="fas fa-sign-in-alt"></i>勤怠履歴</a></li>
<li><a href="{% url 'edit_profile' %}"><i class="fas fa-cog"></i>設定</a></li>
<li><a href="/admin/"><i class="fas fa-lock"></i>管理者用</a></li>